body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  width: 90%;
  padding: 20px 5%;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
  > * {
    margin: auto 0;
  }
  .menu-top {
    display: flex;
    justify-content: space-between;
    svg {
      display: none;
      transition: .2s;
      &:hover {
        cursor: pointer;
        color: #007bff;
      }
    }
  }
  h1 {
    width: fit-content;
    margin: 0;
    padding: 0;
    &:after {
      position: relative;
      display: block;
      content: '';
      background: #007bff;
      height: 3px;
      width: 0%;
      left: 50%;
      transition: 0.5s;
    }
    &:hover {
      color: #007bff;
      cursor: pointer;
      &:after {
        width: 120%;
        left: -10%;
      }
    }
  }
  .searchBarPlaceholder {
    width: 20% !important;
  }
  > ul {
    width: 30%;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    > li {
      transition: 0.2s;
      margin: auto 0;
      padding: 0;
      > a {
        transition: 0.2s;
        color: black;
        &:hover {
          color: #007bff;
        }
      }
    }
  }

  > span {
    width: 25%;
    display: block;
    > a, button {
      float: right;
      font-weight: bold !important;
      margin: 0 10px !important;
    }
  }
}

.searchPanel {
  padding: 30px;
  margin: 10vh auto 0;
  border-radius: 10px;
  width: 50%;
  background: #ffffff;
  overflow: auto;
  max-height: 70vh;
  .searchBar {
    input {
      font-size: 1.4rem !important;
    }
  }
}


.loginBox {
  padding: 30px;
  margin: 10vh auto 0;
  border-radius: 10px;
  width: 50%;
  background: #ffffff;
  overflow: auto;
  max-height: 70vh;
  .loginForm {
    button[type="submit"] {
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ced4da;
      background: #007bff;
      color: white;
      font-weight: bold;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background: #0056b3;
      }
    }
    input[type="email"],input[type="text"], input[type="password"], select  {
      width: 98%;
      padding: 10px 1%;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ced4da;
    }
    select {
      width: 100%;
    }
    input, select {
      font-size: 1rem !important;
    }
    .loginFormButtons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  z-index: 99;
  .sideNavHeader {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      margin: 0;
    }
    bottom: 0;
  }
  .sideNavList {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    li {
      margin: 10px 0;
      display: flex;
      vertical-align: center;
      a {
        display: block;
        height: 100%;
        width: fit-content;
        color: black;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s;
        vertical-align: center;
        margin: auto 0 auto 0.7rem;
      }
      svg {
        margin: auto 0;
      }
    }
  }
}
