body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  width: 90%;
  padding: 20px 5%;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100;
  position: relative;
  > * {
    margin: auto 0;
  }
  .menu-top {
    display: flex;
    justify-content: space-between;
    svg {
      display: none;
      transition: .2s;
      &:hover {
        cursor: pointer;
        color: #007bff;
      }
    }
  }
  h1 {
    width: fit-content;
    margin: 0;
    padding: 0;
    &:after {
      position: relative;
      display: block;
      content: '';
      background: #007bff;
      height: 3px;
      width: 0%;
      left: 50%;
      transition: 0.5s;
    }
    &:hover {
      color: #007bff;
      cursor: pointer;
      &:after {
        width: 120%;
        left: -10%;
      }
    }
  }
  .searchBarPlaceholder {
    width: 20% !important;
  }
  > ul {
    width: 30%;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    > li {
      transition: 0.2s;
      margin: auto 0;
      padding: 0;
      > a {
        transition: 0.2s;
        color: black;
        &:hover {
          color: #007bff;
        }
      }
    }
  }

  > span {
    width: 25%;
    display: block;
    > a, div {
      float: right !important;
      font-weight: bold !important;
      margin: 0 10px !important;
    }
  }
}

.searchPanel {
  padding: 30px;
  margin: 10vh auto 0;
  border-radius: 10px;
  width: 50%;
  background: #ffffff;
  overflow: auto;
  max-height: 70vh;
  .searchBar {
    input {
      font-size: 1.4rem !important;
    }
  }
}


.loginBox {
  padding: 30px;
  margin: 12vh auto 0;
  border-radius: 10px;
  width: 50%;
  background: #ffffff;
  overflow: auto;
  max-height: 70vh;
  .loginForm {
    button[type="submit"] {
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ced4da;
      background: #007bff;
      color: white;
      font-weight: bold;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background: #0056b3;
      }
    }
    input[type="email"],input[type="text"], input[type="password"], select  {
      width: 98%;
      padding: 10px 1%;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ced4da;
    }
    select {
      width: 100%;
    }
    input, select {
      font-size: 1rem !important;
    }
    .loginFormButtons {
      display: flex;
      justify-content: space-between;
    }
  }
}
.sideNavHidden {
  transform: translateX(-80%) !important;
}
.sideNav {
  transition: 0.2s;
  transform: translateX(0);
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  max-width: 270px;
  height: 100%;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  z-index: 99;
  .sideNavHeader {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    svg {
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        color: #007bff;
      }
    }
    h2 {
      margin: 0;
    }
    bottom: 0;
  }
  .sideNavList {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    li {
      margin: 10px 0;
      display: flex;
      vertical-align: center;
      a {
        display: block;
        height: 100%;
        width: fit-content;
        color: black;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s;
        vertical-align: center;
        margin: auto 0 auto 0.7rem;
      }
      svg {
        margin: auto 0;
      }
      &:hover {
        cursor: pointer;
        a, svg {
          color: #007bff;
        }
      }
    }
  }
}
.DashboardRestaurantsContainer {
  width: 70%;
  height: 80vh;
  margin: 5vh auto;
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    > h1, .divButton {
      margin: auto 0 !important;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
  }
}


.BusinessCard {
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #f3f4f5;
  border-radius: 10px;
  padding-bottom: 10px;
  transition: 0.1s transform;
  &:hover {
    cursor: pointer;
    transform: scale(1.06);
    background: #e1e1e1;
    svg {
      fill: #e1e1e1;

    }
  }
  > svg {
    fill: #f3f4f5;
  }
  > .image {
    width: 100%;
    margin: auto;
    height: 100px;
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }
  > .title, .category, .rating {
    margin: 0 15px;
  }
  svg {
    margin-top: -45px;
  }
}

.addBusinessModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 85vh;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    input, textarea, select, option {
      margin: 5px 0;
      resize: none;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ced4da;
    }
    textarea {
      height: 100px;
    }
  }
}


.recentlySearchedContainer {
  display: flex;
  > svg {
    font-weight: bold;
    height: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 2rem;
    transition: 0.2s;
    &:hover {
      color: #007bff;
      cursor: pointer;
    }
  }
}
.recentlySearched {
  display: flex;
  width: 90%;
  overflow: hidden;
  &::-webkit-scrollbar {
    height: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}