body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #efefef;
  border-radius: 5px;
  padding: 0 10px;
  > input[type="text"] {
    background: #efefef;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    outline: none;
    border: none;
  }
}
.nav-mobile {

}
.nav-full {
  width: 90%;
  padding: 20px 5%;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  box-shadow: 0 8px 24px -18px rgba(66, 68, 90, 1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  > * {
    margin: auto 0;
  }
  .menu-top {
    display: flex;
    justify-content: space-between;
    svg {
      display: none;
      transition: .2s;
      &:hover {
        cursor: pointer;
        color: #007bff;
      }
    }
  }
  h1 {
    width: fit-content;
    margin: 0;
    padding: 0;
    &:after {
      position: relative;
      display: block;
      content: '';
      background: #007bff;
      height: 3px;
      width: 0%;
      left: 50%;
      transition: 0.5s;
    }
    &:hover {
      color: #007bff;
      cursor: pointer;
      &:after {
        width: 120%;
        left: -10%;
      }
    }
  }
  .searchBar {
    width: 20% !important;
  }
  > ul {
    width: 30%;
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    > li {
      transition: 0.2s;
      margin: auto 0;
      padding: 0;
      > a {
        transition: 0.2s;
        color: black;
        &:hover {
          color: #007bff;
        }
      }
    }
  }

  > span {
    width: 20%;
    display: block;
    > button {
      float: right;
      font-weight: bold !important;
      margin: 0 10px !important;
    }
  }
}

