.nav {
  @media only screen and (max-width: 1700px) {
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu-top {
      width: 100%;
      svg {
        display: block;
      }
    }
    > ul {
      display: none;
    }
    .searchBar {
      display: none;
    }
    > span {
      display: none;
    }
  }
}

.open {
 @media only screen and (max-width: 1700px){
 height: 340px;
   > ul {
     display: flex;

     li {
       margin: 10px 0;
       font-size: 1.2rem;
     }
     flex-direction: column;
     justify-content: center;
     width: fit-content;
     text-align: center;
     margin: 0 0 10px;
   }
   .searchBar {
     display: flex;
     width: 80% !important;
   }
   > span {
     display: flex;
     width: 80% !important;
     justify-content: center;
     flex-direction: column;
     margin-top: 10px;
     button {
       margin: 5px 0 !important;
     }
   }
 }
}