.pageContainer {
  margin: 30px auto 0;
  width: 90%;
  padding: 0 10px;
}

.alert {
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 13vh;
  transform: translateX(33%);
  z-index: 100000;
}

.searchBarPlaceholder {
  cursor: text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #efefef;
  border-radius: 5px;
  padding: 0 10px;
  > div {
    background: #efefef;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    outline: none;
    border: none;
  }
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 5px;
  padding: 0 10px;
  > input[type="text"] {
    background: #efefef;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: auto auto auto 0;
    outline: none;
    border: none;
  }
}

.searchResultItem {
  display: grid;
  grid-template-columns: auto 4fr 1fr;
  grid-template-rows: 2rem 6rem;
  padding: 5px;
  grid-column-gap: 10px;
  grid-row-gap: 0;
  border: 2px solid #efefef;
  border-radius: 5px;
  transition: .2s;
  margin: 5px auto;
  &:hover {
    cursor: pointer;
    background: #efefef;
  }
  .searchResultImage {
    grid-area: 1 / 1 / 3 / 2;
    width: 8rem;
    height: 8rem;
    background-size: cover;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
  .searchResultName {
    font-size: 1.4rem;
    font-weight: bold;
    grid-area: 1 / 2 / 2 / 3;
  }
  .searchResultRating {
    font-size: 1.4rem;
    text-align: right;
    grid-area: 1 / 3 / 2 / 4;
  }
  .searchResultDescription {
    grid-area: 2 / 2 / 3 / 4;
    width: 80%;
    max-height: 5rem;
    text-align: justify;
    overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.blueLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #0056b3;
  }
}

.rating  {
  color: #ffba27;
}

.divButton {
  outline: none !important;
  padding: 10px;
  border-radius: 5px;
  background: #007bff;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  &:focus {
    outline: none !important;
  }
  &:hover {
    cursor: pointer;
    background: #0056b3;
  }
}
.divButtonOutlined {
  background: white;
  color: #007bff;
  transition: 0.2s;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #007bff;
  &:hover {
    cursor: pointer;
    background: #007bff;
    color: white;
  }
}